.left-column-wrapper {
    float:left;
    width:20%;
    padding-top: 15px;
    height: 100%;
    background-color: #4D4548;
}

.menu {
    margin-left: 20px;
    background-color:#ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

.buttons {
    /* padding: 25px; */
}

.menu .button {
    background-color:#e7a9e2;
    border: 0;
    /* box-shadow: 0 1px 1px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23); */
    /* margin:8px; */
    /* margin-top:15px; */
    display:block;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    height: 50px;
    color:rgb(255, 255, 255);
  }

  .menu .button:hover {
    background-color: #aaaaaa;
  }

  @media only screen and (max-width:620px) {
    /* For mobile phones: */
    .menu {
      width:100%;
    }
  }