.menu {
    float:left;
    width:20%;
    text-align:center;
  }

.menu .button {
    background-color:#e5e5e5;
    padding:8px;
    margin-top:7px;
    display:block;
    width:100%;
    color:black;
  }

  .menu .button:hover {
    background-color: #aaaaaa;
  }

  @media only screen and (max-width:620px) {
    /* For mobile phones: */
    .menu {
      width:100%;
    }
  }