<div class="main">
    <h2>My businka</h2>
    <p>Hi, businka-lybimka. I really miss you and want to be with you as soon as possible!</p>
    <img style="width: 100%;" src="../../assets/images/1.png">
    <p>I really want to hug you and sleep next to you.</p>
    <img style="width: 100%;" src="../../assets/images/2.jpg">
    <p>You are the best girl in the world.</p>
    <img style="width: 100%;" src="../../assets/images/3.jpg">
    <p>I love you so much.</p>
    <img style="width: 100%;" src="../../assets/images/4.jpg">
    
</div> 