/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
  }

.background {
    background-color:#e5e5e5;
    padding:15px;
    text-align:center;
    font-family:Verdana;
    color:#aaaaaa;
}